<div class="page py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h1 class="text-center"><%= current_user.email %></h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="tickets-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets" aria-selected="true">Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
            <div class="row justify-content-center">
              <div class="col-sm-8">
                <h2 class="text-center">
                  Your tickets live here
                </h2>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
            <div class="row justify-content-center">
              <div class="col-sm-8">
                <h2 class="text-center">
                  Edit your account details
                </h2>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="row justify-content-center">
              <div class="col-sm-8">
                <h2 class="text-center">
                  Your account settings
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
