.card
    .card-body
        %h3= number_to_currency(ticket.price, {unit: "GHS"})
        %p.lead= ticket.departure_date.strftime('Departure date: %m/%d/%Y')
        %p.lead= ticket.departure_time.strftime('Departure time: %I:%M%p')
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#exampleModal"} Buy
        

