
<div class="page py-5">
  <div class="container">
    <h2 class="text-center">From <%= @route.origin %> to <%= @route.destination %></h2>
    <div class="row">
      <%= render @available_tickets %>
    </div>
  </div>
</div>

<!-- Modal -->
